.features {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 0 6rem 0 6rem;
  width: 100%;
  place-content: center;
}

.features h2 {
  text-align: center;
  color: black;
  padding-top: 2rem;
  font-size: 2rem;
}

.feature h3 {
  color: #000;
}

.feature p {
  width: 80%;
}

.first__div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.second__div {
  display: flex;
  flex-direction: row;
}
