.reviews {
  background-color: black;
  min-height: 50vh;
  color: white;
}

.reviews h3 {
  text-align: center;
  padding-top: 2rem;
  font-size: x-large;
}

.reviews__container {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.review {
  margin: auto;
  border: 1px solid white;
  padding: 4rem;
  border-radius: 1rem;
}

.review:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.15s ease-in-out;
}
